* {
    font-family: 'Times New Roman', Times, serif;
    background-color: #a6cff5;

    margin-left: 2%;
    margin-right: 3%;
}

.title {
    color: #8A307F;
    text-align: left;
}

.title.main-title {
    color: white;
    background-color: #8A307F;
    text-align: center;
}

.list, .list li, .list a {
    background-color: #8fb1f8;
}

.list {
    line-height: 30px;
    width: 90%;
    /* margin: auto; */
}

li {
    margin: 20px;
    font-size: 17px;
    color: rgb(15, 15, 53);
}

a:any-link {
    color: rgb(50, 115, 247);
    font-size: 20px;
}

img {
    width: 400px;
    height: auto;
}



